/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #111;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px; /* Margen amplio a los costados */
}

/* Estilos para los botones */
button {
  background-color: #6a1ebc;
  filter: drop-shadow(20px 7px 5px rgb(79, 22, 79));
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #c352ac;
}

/* Estilos para el contenido del blog */
.blog-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blog-card {
  width: 300px;
  margin: 20px;
  background-color: #070c52;
  background-image: linear-gradient(
    344deg,
    #070c52 0%,
    #b02cb9 46%,
    #44186e 100%
  );

  border: 1px solid #30055e;
  border-radius: 5px;
  filter: drop-shadow(20px 7px 5px rgb(79, 22, 79));
  overflow: hidden;
}

.blog-card img {
  width: 100%;
  height: auto;
  max-height: 150px;
  border-radius: 1px;
}

.blog-card-content {
  padding: 20px;
}

.blog-card-content h2 {
  margin-top: 0;
}

.blog-card-content p {
  margin-bottom: 10px;
}

.date {
  color: #999;
  font-style: italic;
}

/* Estilos para el reproductor de video */
.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background-color: #444;
}

.video-wrapper {
  position: relative;
}

video {
  width: 100%;
  max-height: 90vh;
  max-width: 400px;

  border-radius: 5px;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.replay {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  display: none;
}
